version: "3"

services:
  bot:
    build: .
    restart: always
    env_file: .env
    depends_on:
      - redis
  redis:
    image: redis:7.2
    restart: unless-stopped
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    ports:
      - '6379:6379'
    volumes:
        - ./redis_data:/data
        - ./utils/redis.conf:/usr/local/etc/redis/redis.conf:ro
volumes:
    redis_data:
      driver: local
